#footer {
	background: $footerBgColor;
	text-align: center;
	padding-bottom: 40px;
	a {
		text-decoration: none;
	}
	.footer-top {
		margin: 0 -15px;
		.list-link {
			padding: 0;
			margin: 0;
			list-style:none;
		}
	}
	.accordion-m-heading {
		color: $footerLinkColor;
		font-size: 14px;
		line-height: 45px;
		position: relative;
		display: block;
		cursor: default;
		&::before {
			content:'';
			display: block;
			width: 25px;
			height: 20px;
			background: url('../images/icon.png') no-repeat -25px -20px scroll transparent;
			background-size: 60px 500px;
			position: absolute;
			right: 30px;
			top:50%;
			margin-top: -10px;
		}
		&.active {
			&::before {
				background-position: -25px -40px;
			}
		}
	}
	.accordion-m-content {
		background: $footerSubBgColor;
		display:none;
		a {
			color: $footerSubLinkColor;
			font-size: 13px;
			line-height: 40px;
		}
	}
	.wechat-qr {
		color: $footerWeChatColor;
		font-size:12px;
		padding: 20px 0;
		img {
			width: 100px;
			margin: 0 auto 10px;
		}
		.ico {
			margin-right:5px;
		}
	}
	.footer-bottom {
		border-top: solid 1px $footerLineBreak;
		padding: 15px 0;
	}
	.col-footer-cookie {
		color: $footerBottomTextColor;
		font-size:12px;
		a,
		span {
			color: $footerBottomLinkColor;
			font-size: 12px;
			display: inline-block;
			padding: 0 40px;
			vertical-align: middle;
		}
		a {
			&[href="#"]{
				cursor: default;
			}
		}
	}
	.col-footer-copyright,
	.col-footer-text {
		color: $footerBottomTextColor;
		font-size: 12px;
		a {
			color: $footerBottomTextColor;
		}
	}
}

@media only screen and (min-width: 751px){
	#footer {
		text-align: left;
		padding: 30px 0 0;
		a {
			text-decoration: none;
		}
		.footer-top {
			margin: 0 ;
			font-size: 0;
			.list-link {
				padding: 0;
				margin: 0;
				list-style:none;
			}
		}
		.col-footer-links {
			width: 80%;
			display: inline-block;
			vertical-align: top;
		}
		.col-footer-wechat {
			width: 20%;
			display: inline-block;
		}
		.footer-link-item {
			display: inline-block;
			vertical-align: top;
			width: 20%;
			margin: 0 0 20px 0;
		}
		.accordion-m-heading {
			font-size: 16px;
			line-height: 45px;
			position: relative;
			display: block;
			&::before {
				display:none;
			}
		}
		.accordion-m-content {
			display:block!important;
			background:none;
			a {
				color: $footerSubLinkColor;
				font-size: 14px;
				line-height: 30px;
			}
		}
		.wechat-qr {
			color: $footerWeChatColor;
			font-size:13px;
			padding: 20px 0;
			text-align: center;
			img {
				width: 120px;
				margin: 0 auto 10px;
			}
		}
		.footer-bottom {
			border-top: solid 1px $footerLineBreak;
			padding: 15px 0;
			margin-top: 25px;
			position:relative;
		}
		.col-footer-cookie {
			position: absolute;
			left:0;
			top:15px;
			a {
				font-size: 12px;
				padding: 0 12px 0 0;
				& + a {
					padding: 0 0 0 12px;
				}
			}
		}
		.col-footer-cookie,
		.col-footer-copyright,
		.col-footer-text {
			color: $footerBottomLinkColor;
			font-size: 12px;
			display: inline-block;
			a {
				color: $footerBottomLinkColor;
			}
		}
		.col-footer-copyright {
			display:block;
			text-align: center;
			text-indent: -20px;
		}
		.col-footer-text {
			position: absolute;
			right: 0;
			top:15px;
		}
	}
}

@media only screen and (min-width: 850px){
	#footer {
		.col-footer-cookie {
			a,span {
				font-size: 13px;
				padding: 0 20px 0 0;
				& + a,
				& + span {
					padding: 0 0 0 20px;
				}
			}
		}
		.col-footer-cookie,
		.col-footer-copyright,
		.col-footer-text {
			font-size: 13px;
			text-indent: 0px;
		}
	}
}