- var activefooter;
footer#footer.white-text
	.container
		.footer-wrapper.text--center
			.logo
				+img("images/introduce/test-logo.png", "Logo")
			.download-app
				.item
					.google-play
						+img("images/introduce/CH-play.png", "Google App")
				.item
					.ios-store
						+img("images/introduce/app-store.png", "IOS Store")
			.social-tools
				a(href="#" target="_blank")
					+img("images/introduce/fb.png", "Facebook")
				a(href="#" target="_blank")
					+img("images/introduce/instagram.png", "Instagram")
				a(href="#" target="_blank")
					+img("images/introduce/pinterest.png", "Printest")
				a(href="#" target="_blank")
					+img("images/introduce/twitter.png", "Twitter")
				a(href="#" target="_blank")
					+img("images/introduce/in.png", "LinkedIn")
			.copy-right Copyright &copy; 2018 abc.com