- var activefooter;
footer#footer.footer.white-text
	.container
		.footer-wrapper.text--center
			.logo
				+img("images/introduce/typimix.png", "Logo")
			.download-app
				.item
					.ios-store
						+img("images/introduce/abc.png", "IOS Store")
			.social-tools
				a(href="https://www.facebook.com/" target="_blank")
					+img("images/introduce/fb.png", "Facebook")
				a(href="https://www.instagram.com/" target="_blank")
					+img("images/introduce/instagram.png", "Instagram")
				a(href="https://www.pinterest.com/" target="_blank")
					+img("images/introduce/pinterest.png", "Printest")
				a(href="https://twitter.com/" target="_blank")
					+img("images/introduce/twitter.png", "Twitter")
				a(href="https://www.linkedin.com" target="_blank")
					+img("images/introduce/in.png", "LinkedIn")
			.copy-right Copyright &copy; 2018, TinyMix. All rights reserved.