- var active;
header#header.header
    .container
        .header-wrapper
            .logo
                +img("images/introduce/typimix.png", "Logo")
            .menu
                //- .mobile-menu
                ul.menu-border
                    li
                        .item
                            .item-icon
                                a(href="mailto:someone@example.com?Subject=What do you want to support?")
                                    +img("images/introduce/mail.png", "Social Network")
                            .item-desc Support
                    

