$defaultBgColor: #f2f2f2;
$defaultTextColor: #333;
$defaultTextLightColor: #555;
$defaultTextLighterColor: #777;
$activeColor: #b19c5f;
$breadcumColor: #999;
$placeholderColor: #999;
$bgGrayLight: #f7f7f7;

$headerColor: #222;

$favBgColor: #b19c5f;
$closeMenuColor: #999;
$icoMenuColor: #aaa;
$menuTextColor: #555;
$menuTextActiveColor: #b19c5f;
$menuChildBgColor: #e9e9e9;
$menuChildTextColor: #777;
$menuUtilitiBgColor: #4c4c4c;
$menuUtilitiTextColor: #ccc;
$menuLineColor: #ddd;
$menuDesktopBgColor: #fff;
$menuDesktopSubBgColor: #222;

$footerBgColor: #333;
$footerSubBgColor: #434343;
$footerLinkColor: #aaa;
$footerSubLinkColor: #888;
$footerBottomLinkColor: #999;
$footerBottomTextColor: #777;
$footerWeChatColor: #ccc;
$footerLineBreak: #555;

$overlayColor: rgba(0,0,0,0.9);
$storeLocatorBgColor: rgba(0,0,0,0.75);

$sliderPageInactive: #ccc;
$sliderPageActive: #b19c5f;

$buttonPrimayBgColor: #b59c55;
$buttonPrimayHoverBgColor: #cbb46f;

$buttonSecondBgColor: #fff;
$buttonSecondBorderColor: #555;
$buttonSecondTextColor: #555;
$buttonSecondHoverBgColor: #555;
$buttonSecondHoverTextColor: #fff;

$flagBgColor: #3072a5;
$flagTextColor: #fff;
