@import 'variables';
@import 'plugins/slick/slick';
@import 'plugins/slick/slick-theme';

html, body {
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

.text--center {
    text-align: center;
}

.white-text {
    color: #fff;
}

.black-text {
    color: #333;
}

.float-text--right {
    float: right;
}

.visible-heading {
    display: none;
}

//header style
#header {
    background: rgba(255, 255, 255, 0.2);
    width: 100%;
}

.fixed {
    position: fixed;
    z-index: 10;
}

.header-wrapper {
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;

    .logo, .menu, .menu-border li, .item-icon, .item-desc {
        display: inline-block;
        vertical-align: middle;
    }

    .logo {
        max-width: 60px;
        max-height: 60px;
    }

    .menu {
        padding-top: 0;
    }

    .item {
        margin-right: 15px;
        position: relative;
    }

    .item-icon {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background: #fff;
        border: 2px solid #3b5998;
        position: relative;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

}

.section-video {
    background: hsl(184,65%,49%);
}

.section-one {
    // background: hsl(120, 100%, 30%);
    background: #9ACD32;
}

.section-two {
    background: hsl(350,92%,59%);
}

.section-three {
    background: hsl(158,58%,52%);
}

.section-four {
    background: hsl(28,100%,52%);
}


.section-border {
    width: 80%;
    margin: 0 auto;
    padding: 80px 0;
}

.content-wrapper {
    display: block;
    width: 100%;
    font-size: 0;
    .content-image, .content-text {
        display: inline-block;
        vertical-align: top;
        font-size: 16px;
    }

    .content-image {
        width: 33.333%;
        max-width: 360px;
    }

    .content-text {
        width: 66.6666%;

        .title {
            font-size: 200%;
            font-weight: 700;
        }
    }

    .content-text-border {
        padding: 0 50px;
    }

    .image-item {
        margin: 0 auto;
    }
    &.video-wrapper-content {
        .content-image {
            width: 50%;
            max-width: initial;
            .video {
                width: 100%;
                min-height: 500px;
                border: none;
            }
        }

        .content-text {
            width: 50%;
        }
    }
}

//override slick slider

.slick-dots {
    display: none !important;
}

.slick-next {
    background: url("../images/arrow-right.png");
}

.scroll {
    position: relative;
    margin-top: 20px;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

.scroll::after {
    border-right: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
    transform: rotate(45deg);
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    margin: auto;
    top: 10px;
    right: 0;
    left: 0;
    // animation: 3s arrow infinite ease;
    // -webkit-animation: arrow-animation 750ms ease-in-out infinite alternate;
}

#findow-button {
    margin-top: 30px;
}

#back-to-top {
    background-color: hsl(28,100%,52%);
    padding: 10px 0;
    padding-bottom: 30px;
    .scroll::after {
        top: -20px;
        transform: rotate(225deg);
    }
}

// include footer and header
#footer {
    background-color: #333333;
    padding: 30px 0;
    .logo {
        display: inline-block;
    }
}

.download-app {
    width: 50%;
    margin: 0 auto;
    padding-top: 20px;
    .item {
        display: inline-block;
        img {
            height: 50px;
        }
    }
    .google-play {
        margin-right: 20px;
    }
}

.google-play, .ios-store {
    max-width: 160px;
    height: 50px;
}

.social-tools {
    padding: 30px 0;
    a {
        display: inline-block;
        padding: 0 10px;
    }
}

#header .social-tools {
    position: absolute;
    top: 50%;
    left: -250px;
    width: auto;
    padding: 0;
    transform: translate(0,-50%);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
