//- extends layout to your side
extends layout/layout

block var
    - title = "关于PPG大师漆";
    - keyword = "PPG , MM";
    - fbURL = "";
    - fbImg = "";
    - description = "PPG MM site";

block headAddition
  
block content
    h1.visible-heading heading
    p This is a test page
    

