//- extends layout to your side
extends layout/layout

block var
    - title = "Introduce Page";
    - keyword = "introduce page";
    - fbURL = "";
    - fbImg = "";
    - description = "Introduce site";

block headAddition
  
block content
    .container
        h1.visible-heading heading
        section.section-one
            .section-border
                .content-wrapper
                    .content-image  
                        .image-item
                            +img("images/introduce/iphone6-screen-2.jpg")
                    .content-text
                        .content-text-border.text--center
                            .title Lorem
                            .detail
                                p Lorem detail
        section.section-two
            .section-border
                .content-wrapper
                    .content-text
                        .content-text-border.text--center
                            .title Lorem
                            .detail
                                p Lorem detail
                    .content-image  
                        .image-item
                            +img("images/introduce/iphone6-screen-2.jpg")
                    
        section.section-three
            .section-border
                .content-wrapper
                    .content-image  
                        .image-item
                            +img("images/introduce/iphone6-screen-2.jpg")
                    .content-text
                        .content-text-border.text--center
                            .title Lorem
                            .detail
                                p Lorem detail
        
            
        

